# Mean and median
In this chapter, you'll be working with the 2018 Food Carbon Footprint Index from nu3. The food_consumption dataset contains information about the kilograms of food consumed per person per year in each country in each food category (consumption) as well as information about the carbon footprint of that food category (co2_emissions) measured in kilograms of carbon dioxide, or CO2, per person per year in each country.

In this exercise, you'll compute measures of center to compare food consumption in the US and Belgium using your pandas and numpy skills.

pandas is imported as pd for you and food_consumption is pre-loaded.

In [8]:
import pandas as pd
import numpy as np

food_consumption = pd.read_csv(r'datasets/food_consumption.csv', index_col=0)
food_consumption.head()

     country food_category  consumption  co2_emission
1  Argentina          pork        10.51         37.20
2  Argentina       poultry        38.66         41.53
3  Argentina          beef        55.48       1712.00
4  Argentina     lamb_goat         1.56         54.63
5  Argentina          fish         4.36          6.96

Import numpy with the alias np.
Create two DataFrames: one that holds the rows of food_consumption for 'Belgium' and another that holds rows for 'USA'. Call these be_consumption and usa_consumption.
Calculate the mean and median of kilograms of food consumed per person per year for both countries.

In [10]:
be_consumption = food_consumption[food_consumption['country'] == 'Belgium']
usa_consumption = food_consumption.query('country == "USA"')

usa_consumption

   country food_category  consumption  co2_emission
56     USA          pork        27.64         97.83
57     USA       poultry        50.01         53.72
58     USA          beef        36.24       1118.29
59     USA     lamb_goat         0.43         15.06
60     USA          fish        12.35         19.72
61     USA          eggs        14.58         13.39
62     USA         dairy       254.69        362.78
63     USA         wheat        80.43         15.34
64     USA          rice         6.88          8.80
65     USA      soybeans         0.04          0.02
66     USA          nuts         7.86         13.91

Subset food_consumption for rows with data about Belgium and the USA.
Group the subsetted data by country and select only the consumption column.
Calculate the mean and median of the kilograms of food consumed per person per year in each country using .agg().

In [ ]:
import pandas as pd

pd.read_csv('datasets/food_consumption.csv')

      Unnamed: 0     country food_category  consumption  co2_emission
0              1   Argentina          pork        10.51         37.20
1              2   Argentina       poultry        38.66         41.53
2              3   Argentina          beef        55.48       1712.00
3              4   Argentina     lamb_goat         1.56         54.63
4              5   Argentina          fish         4.36          6.96
...          ...         ...           ...          ...           ...
1425        1426  Bangladesh         dairy        21.91         31.21
1426        1427  Bangladesh         wheat        17.47          3.33
1427        1428  Bangladesh          rice       171.73        219.76
1428        1429  Bangladesh      soybeans         0.61          0.27
1429        1430  Bangladesh          nuts         0.72          1.27

[1430 rows x 5 columns]